header {
    font-size: 25px;
}
body {
    font-size: 20px;
    margin: 0px 0px;
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway';
}
a {
    color: inherit;
    text-decoration: none;
}
p {
    margin: 0px;
    padding: 10px;
}
section {
    padding: 0px 20px;
}
hr {
    margin: 0px;
    border-color: grey;
}
h1 {
    margin: 0px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h2 {
    margin: 0px;
}
h3 {
    margin: 0px;
}
h4 {
    margin: 0px;
}
h5 {
    margin: 0px;
}
#bg-animation {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    z-index: 1;
}
#home-splash-section {
    padding: 50px;
    margin: 0px;

    background: #333333;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s ease;
}
#aboutme-section {
    background: #555555;
    color: white;
    transition: all 1s ease;
}
#eduexpskills-section {
    background: #555555;
    color: white;
    transition: all 1s ease;
}
#education-section {
    display: flex;
}
#course-section {
    display: flex;
}
#course-section ul {
    margin: 0px;
}
#education-section img {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #dddddd;
}
#experience-section {
    display: flex;
}
#skills-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#skills-section figure {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #dddddd;
    color: black;
    text-align: center;

    min-width: 150px;
    max-width: 300px;
}
#projects-section {
    background: #555555;
    color: white;
    transition: all 1s ease;
}
.home-splash {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 30px;
    border-radius: 20px;

    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.home-splash p {
    text-align: center;
    font-size: 30px;

    color: white;
}
.outside-links {
    display: flex;
}
.outside-links img {
    margin: 10px;
    transition: all 0.2s;
}
.outside-links img:hover {
    transform: scale(1.3);
}
.home-nav-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 75%;
    margin: 20px;

}
.home-nav-buttons a {
    background: transparent;
    color: white;
    border: 1px solid white;
    text-align: center;
    line-height: 40px;
    font-size: 25px;

    height: 40px;
    width: 125px;
    padding: 10px 10px;
    margin: 10px 10px;

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);

    transition: all 0.2s ease;
}
.home-nav-buttons a:hover {
    transform: scale(1.2);
}

.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100%;
}

.navbar {
    background: black;
    padding: 10px 10px;
    margin: 10px 0px;
}
.navbar a {
    font-size: 15px;
    color: white;

    padding: 10px 10px;
}