body {
    margin: 0 15% 0 15%;
    height: 100vh;
    font-family: 'courier', 'Arial';
    color: var(--font-color);
    background: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a {
    color: inherit;
    text-decoration: underline;
}
pre {
    margin: 0;
    display: inline;
}
@media (max-aspect-ratio: 1/1) {
    pre {
        font-size: 4.3vw;
    }
}
@media (min-aspect-ratio: 1/1) {
    pre {
        font-size: 2vw;
    }
}
main {
    width: min-content;
}
.heading {
    margin-bottom: 0;

}
.flex-row > * {
    margin: 0.5em;
}
.links-row a {
    margin-right: 0.25em;
}

#nav-links a {
    margin: 0 0.1em 0 0.1em;
}
#main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: min(10%, 5em) 0 0 0;
}
#main-header h1 {
    margin: 0;
}
#main-header div {
    line-height: 2em;
}