---
import '../globals.css'
import TopHeader from '../components/TopHeader.astro'
import WorkTimeline from '../components/WorkTimeline.astro'
import '@fontsource-variable/inter';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Adam Beziou</title>
		<meta name="description" content="Hi, I'm Adam Beziou, a full-stack senior software engineer at Fanatics">
	</head>
	<body>
		<div class="width-limited">
			<TopHeader />
			<main class="aboutme-sections">
				<section>
					<h3>Work Experience</h3>
					<WorkTimeline />
				</section>
				<section>
					<h3>Projects</h3>
					<div class="coming-soon">Coming soon!</div>
				</section>
			</main>
		</div>
	</body>
</html>

<style>
	body {
		font-family: 'Inter Variable', sans-sarif;
		font-style: normal;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: var(--font-color);
		background: var(--bg-color);
		margin: 5% 5% 5% 5%;
	}
	@keyframes fade {
		0% {
			transform: translateY(8%);
			opacity: 0;
		}
		100% {
			transform: translateY(0%);
			opacity: 1;
		}
	}
	main {
		animation: 1s fade;
	}
	.width-limited {
		max-width: 65em;
		margin: auto;
	}
</style>