:root {
  --bg-color: #F4F4F5;
  --h1-size: min(3em, 10vw);
  --h2-size: calc(var(--h1-size) * 0.5);
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  color: var(--font-color);
  background: var(--bg-color);
  margin: 5% 5% 5% 5%
}

header {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
  flex-grow: 1;
}
header > * {
  margin: 0 1em 0 1em
}
header h1 {
  font-size: var(--h1-size);
  margin: 0;
}
header h2 {
  font-size: var(--h2-size);
  font-weight: normal;
  margin: 0 0 0.5rem 0;
}
#portrait {
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
  align-self: center;
}
#heading-blurb {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}
#heading-blurb > #social-media-icons-row {
  margin: 0 0 0.5rem 0;
}
#heading-blurb > #social-media-icons-row a {
  padding: 0 0.25em;
}
#heading-blurb > * {
  text-align: center;
}

.aboutme-sections > section {
  margin: 0 0 1em;
}

.work-card {
  display: flex;
  flex-direction: column;
}
.work-header {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  font-weight: normal;
  margin: 0 0 1em;
}
.work-header-title {
  padding: 0 3em 0 0;
}
.work-header-dates {
  font-weight: 200;
}
.light-title {
  font-weight: 200;
}
.work-description {
  font-weight: 300;
  margin: 0 0 1em;
}
.tech-tag-row {
  display: flex;
  flex-direction: row;
  margin: 0 0 1em;
}
.tech-tag {
  margin: 0.1em;
  padding: 0.5em;
  font-size: small;
  background-color: #d8d8d8;
  border-radius: 0.5rem;
}

.coming-soon {
  font-weight: 200;
}