---
import '../globals.css'
---

<div>
    <!-- Fanatics -->
    <div class="work-card">
        <h3 class="work-header">
            <span class="work-header-title">
                <div>
                    Senior Software Engineer @ Fanatics
                </div>
                <div class="light-title">
                    SWE III, II, I, and Technology Intern
                </div>
            </span>
            <span class="work-header-dates">
                December 2020 - Present
            </span>
        </h3>
        <div class="work-description">
            Tech lead for the integration team, engineer on the pricing and promotion team, 
            and engineer on the enterprise tax team. 
            Built tooling and systems to control pricing & promotions across all of Fanatics eCommerce. 
        </div>
        <div class="tech-tag-row">
            <span class="tech-tag">Golang</span>
            <span class="tech-tag">JavaScript</span>
            <span class="tech-tag">Java</span>
        </div>
    </div>

    <!-- Hogue Hydrology Lab -->
    <div class="work-card">
        <h3 class="work-header">
            <span class="work-header-title">
                <div>
                    Student Researcher @ Hogue Hydrology Lab
                </div>
            </span>
            <span class="work-header-dates">
                October 2018 - December 2020
            </span>
        </h3>
        <div class="work-description">
            Built watershed simulation tool and enhanced the SUSTAIN modeling system for the iDST toolset.
        </div>
        <div class="tech-tag-row">
            <span class="tech-tag">C++</span>
            <span class="tech-tag">Excel VBA</span>
        </div>
    </div>
</div>

<style>
    .work-card {
        display: flex;
        flex-direction: column;
    }
    .work-header {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        font-weight: normal;
        margin: 0 0 1em;
    }
    .work-header-title {
        padding: 0 3em 0 0;
    }
    .work-header-dates {
        font-weight: 200;
    }
    .light-title {
        font-weight: 200;
    }
    .work-description {
        font-weight: 300;
        margin: 0 0 1em;
    }
    .tech-tag-row {
        display: flex;
        flex-direction: row;
        margin: 0 0 1em;
    }
    .tech-tag {
        margin: 0.1em;
        padding: 0.5em;
        font-size: small;
        background-color: #d8d8d8;
        border-radius: 0.5rem;
    }
</style>